# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# platformio
.pio
.ccls

# Compiled binaries and temporary files
*.elf
*.bin
*.hex
*.map
compile_commands.json

# Operating system files
.DS_Store
Thumbs.db

# Release artifacts
releases/
